body {  font-family: 'Times New Roman', 'Times', 'serif';   min-height: 100vh; /* Đảm bảo body có ít nhất 100% chiều cao của viewport */
            display: flex;
            flex-direction: column;}

img { 
  object-fit: contain;
}

a { text-decoration: none; color: #0000FF; }
a:hover { text-decoration: none; color: #FF0000; }

p, ul { font-size: 18px; line-height: 1.5; color: #333; }

h1, h2, h3, h4 { font-family: 'Times New Roman', 'Times', 'serif'; }
h1 { font-size: 24px;  }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
.sidenav {   height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  padding-top: 20px;}

.sidenav a {   padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  display: block; }

.sidenav a:hover {  color: #363636;}

.main {
            margin-top: 40px;
  margin-left: 20%; /* Same as the width of the sidenav */
  font-size: 18px;/* Increased text to enable scrolling */
  padding: 0px 10px; 
  margin-right: 5%;
  height: 100%;
}

.vfill{  flex: 1; /* Mở rộng nội dung để chiếm hết không gian còn lại */}     

@media screen and (max-width: 480px) {
  .sidenav {display: none;}
  .sidenav a {display: none;}
  .main{margin-left: 5px;}
}

.topnav {position: fixed;   top: 0; background-color: #FFFFFF;
    }

.topnav ul, footer ul { font-size: 18px; font-family: 'Times New Roman', 'Times', 'serif'; padding: 0px; list-style: none; font-weight: bold; }

.topnav ul li, footer ul li { display: inline; margin-right: 18px; }


footer { border-top: 1px solid #d5d5d5; font-size: 14px; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 18px; }
ul.posts li { list-style: none; }


/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 30px; }
.cv h2 { font-size: 25px; }
.cv address, .cv .download { font-family: 'Times New Roman', 'Times', 'serif'; }
.cv address, .cv p { font-size: 20px; }
.cv .download { float: right; font-size: 18px; text-transform: uppercase; }
