<div class="menu-wrap">
  <div class="menu">
    <ul>
      <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>      </li>
      <li><a href="/cv">CV</a> </li>
      <li>
             <a href="/courses">Courses <span class="arrow">&#9660;</span></a>
              <ul class="sub-menu">
              <li><a href="/courses/algebra"><span class="arrow">&#9658;</span>  Algebra</a>
               </li>
               <li><a href="/courses/calculus"><span class="arrow">&#9658;</span>  Calculus</a>
              </li>
                 <li><a href="/courses/statistics"><span class="arrow">&#9658;</span>  Statistics</a>
              </li>
              </ul>
      </li>
      
      <li><a href="/blog">Blog  <span class="arrow">&#9660;</span></a>
        <ul class="sub-menu">
          <li><a href="/tags"><span class="arrow">&#9658;</span> #Tags 3</a>
             <li><a href="/categories"><span class="arrow">&#9658;</span> #Categories 3</a>
          </li>
        
        </ul>
      </li>
      
       <li><a href="/people"><i class="fa fa-address-book" aria-hidden="true"></i> </a>      </li>
    </ul>
  </div>
</div>
