<div class="topnav">
 <a  href="/"><i class="fa fa-home" aria-hidden="true"></i></a>

 <div class="subnav">
    <button class="subnavbtn" href="/courses"> Courses <i class="fa fa-caret-down" ></i></button>
    <div class="subnav-content">
      <a href="/courses/algebra">Algebra</a>
      <a href="/courses/calculus">Calculus</a>
      <a href="/courses/statistics">Statistics</a>
    </div>
  </div> 
  
  <a href="/cv">CV</a>
  <a href="/blog">Blog</a>
   
  <a style="float:right" href="#about">About</a>
 
</div>
