<div class="topnav">
 <a  href="/"><i class="fa fa-home" aria-hidden="true"></i></a>


 <div class="dropdown">
    <button class="dropbtn"  href="/courses">Courses 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/courses/algebra">Algebra</a>
      <a href="/courses/calculus">Calculus</a>
      <a href="/courses/statistics">Statistics</a>
    </div>
  </div> 
  
  <a href="/cv">CV</a>
 
 <div class="dropdown">
    <button class="dropbtn" href="/blog">Blog 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/tags">Link 1</a>
    </div>
  </div> 
   
  <a style="float:right" href="#about">About</a>
 
</div>
