
<!DOCTYPE html>
<html lang="en">
 {% include head.html %}
<body>

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>

<section>
  
    {% include footer.html %}

  
 <div class="main">
     <div class="container">

           {{ content }}
         
      </div>
  </div>
  
  
  {% include rnav.html %}
</section>

<footer>
  {% include footer.html %}
</footer>

</body>
</html>




  
  

