
<!DOCTYPE html>
<html lang="en">
 {% include head.html %}
<body>

   {% include header.html %}

<nav>
         {% include menu.html %}
    </nav>

    <div class="column left">
        <h2>Left Column</h2>
        <p>Left column content goes here.</p>
    </div>

    <div class="column center">
        <h2>Center Column</h2>
        {{ content }}
    </div>

    <div class="column right">
        <h2>Right Column</h2>
        <p>Right column content goes here.</p>
    </div>
  
  

  {% include footer.html %}


</body>
</html>




  
  

