
<!DOCTYPE html>
<html lang="en">
 {% include head.html %}
<body>

   {% include header.html %}

 {% include menu.html %}


  <div class="column left">
        <h2>Left Column</h2>
        <p>Left column content goes here.</p>
    {% include nav.html %}
    </div>

    <div class="column center">
        <h2>Center Column</h2>
      <div class="container">

           {{ content }}
         
      </div>
    </div>

    <div class="column right">
        <h2>Right Column</h2>
        <p>Right column content goes here.</p>
     {% include rnav.html %}
    
    </div>

    <div class="clearfix"></div>
  
  

  {% include footer.html %}


</body>
</html>




  
  

